<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MatchDay: All matches</title>

    <link data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

</head>
<body>

    <div class="container">

        <div class="row">
            <table id="allMatches" class="table table-striped">
                <body>
                    <tr class="result" data-th-each="greeting : ${greetings}">
                        <td class="ID">[[${greeting.id}]]</td>
                        <td class="Message">[[${greeting.msg}]]</td>
                    </tr>
                </body>
            </table>
        </div>

    </div>

</body>
</html>